html,
body {
    width: 100%;
    height: 100%;
}
#navbarNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nabar-nav {
    justify-content: space-around;
}
.cardContainer {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    

}
.card-img-top {
    width: 300px;
    height: 300px;
    border-radius: 50%;
   object-fit: cover;
   position: relative;
}
.card-work {
    margin: 0 auto; 
    align-items: center;
    border: none;
    
}
.card-section {
    border: solid 1px;
    border-radius: 25px;
    margin: 0 auto; 
}
.skills-list {
    text-align: left;
    padding-top: 5px;
}
.img-fluid {
    border-radius: 50%;
}
